#!/bin/bash -l

echo -e 'y\n' | ssh-keygen -f ~/.ssh/synapse_agave -t rsa -N ''
cat ~/.ssh/synapse_agave.pub >> ~/.ssh/authorized_keys

PRIVATE_KEY=`cat ~/.ssh/synapse_agave | awk '$1=$1' ORS='\\\\n'`
PUBLIC_KEY=`cat ~/.ssh/synapse_agave.pub | awk '$1=$1' ORS='\\\\n'`

curl -0 -v -k -X POST https://{{request.get_host}}/agave/systems/v2/ \
--header "Content-Type: application/json; charset=utf-8" \
--header "X-CSRFToken: {{ csrftoken }}" \
--referer "https://{{ request.get_host }}{{request.get_full_path }}" \
--cookie "csrftoken={{ csrftoken }}; sessionid={{ sessionkey }}" \
-d @- << EOF
{
  "id": "beocat-synapse-`whoami`-{{ hash }}",
  "name": "Beocat",
  "status": "UP",
  "type": "EXECUTION",
  "executionType": "HPC",
  "scheduler": "SLURM",
  "scratchDir": "/scratch/`whoami`",
  "workDir": "/tmp",
  "description": "Beocat supercomputer at K-State",
  "site": "beocat.ksu.edu",
  "storage": {
    "host": "beocat.ksu.edu",
    "port": 22,
    "protocol": "SFTP",
    "auth": {
      "username": "`whoami`",
      "internalUsername": "`whoami`",
      "publicKey": "${PUBLIC_KEY}",
      "privateKey": "${PRIVATE_KEY}",
      "type": "SSHKEYS"
    }
  },
  "login": {
    "host": "beocat.ksu.edu",
    "port": 22,
    "protocol": "SSH",
    "proxyTunnel": "NO",
    "auth": {
      "username": "`whoami`",
      "publicKey": "${PUBLIC_KEY}",
      "privateKey": "${PRIVATE_KEY}",
      "type": "SSHKEYS"
    }
  },
  "queues": [
    {
      "default": false,
      "name": "killable.q",
      "maxJobs": -1,
      "maxNodes": -1,
      "maxMemoryPerNode": "1024GB",
      "maxProcessorsPerNode": -1,
      "maxRequestedTime": "720:00:00"
    },
    {
      "default": false,
      "name": "batch.q",
      "maxJobs": -1,
      "maxNodes": -1,
      "maxMemoryPerNode": "1024GB",
      "maxProcessorsPerNode": -1,
      "maxRequestedTime": "720:00:00"
    },
    {
      "default": false,
      "name": "ksu-psych-kirkpatr.q",
      "maxJobs": -1,
      "maxNodes": -1,
      "maxMemoryPerNode": "1024GB",
      "maxProcessorsPerNode": -1,
      "maxRequestedTime": "720:00:00"
    }
  ]
}
EOF


# Done